<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>



	<section
		class="about-banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Recipe Management System</h1>
			<p>A recipe is a set of instructions and a list of ingredients
				for making a food, drink, or dish. Recipes can be simple or complex,
				depending on the user and the operation's needs. For example, a
				beginner cook might need more information than an experienced chef.</p>
				
			<p>Recipes are important because they help ensure consistency,
				control food costs, and provide information for consumers with
				allergies or dietary concerns. They also help restaurants keep food
				costs in line, and ensure that menu items are standardized. Recipes
				can be categorized into many types, including: Breakfast, Lunch,
				Dinner, Appetizer, Salad, Main course, Side dish, and Baked goods.</p>

		</div>
	</section>


</body>
</html>